
<main>

    <section class="header">
        <div class="left-header">
            <h3>NOTESIO</h3>    
        </div>
    
        <div class="right-header">
            <a href="/login"><button>Login</button></a>
            <a href="/signup"><button>Signup</button></a>
        </div>
        
        </section> 

    <section class="main">
        <div class="block">
            <p>Lorem ipsum dolor sit amet consectetur.</p>
            <img src="https://placehold.co/400x300">
        </div>

        <div class="block">
            <a href="/main"><button>Go To Main App</button></a>


        </div>


    </section>

    <section class="footer">


    </section>

</main>
